
@font-face {
  font-family: "AtypTextRegular";
  font-weight: 400;
  font-style: normal;
  src: local("Atyp Text Regular"), local("AtypText-Regular"),
    url(/barter-layout-project/fonts/AtypText-Regular.woff2) format("woff2"),
    url(/barter-layout-project/fonts/AtypText-Regular.woff) format("woff"),
    url(/barter-layout-project/fonts/AtypText-Regular.eot) format("eot");
  font-display: swap;
}

@font-face {
  font-family: "AtypTextMedium";
  font-weight: 500;
  font-style: normal;
  src: local("Atyp Text Medium"), local("AtypText-Medium"),
    url(/barter-layout-project/fonts/AtypText-Medium.woff2) format("woff2"),
    url(/barter-layout-project/fonts/AtypText-Medium.woff) format("woff"),
    url(/barter-layout-project/fonts/AtypText-Medium.eot) format("eot");
  font-display: swap;
}

@font-face {
  font-family: "AtypTextBold";
  font-weight: 700;
  font-style: normal;
  src: local("Atyp Text Bold"), local("AtypText-Bold"),
    url(/barter-layout-project/fonts/AtypText-Bold.woff2) format("woff2"),
    url(/barter-layout-project/fonts/AtypText-Bold.woff) format("woff"),
    url(/barter-layout-project/fonts/AtypText-Bold.eot) format("eot");
  font-display: swap;
  
}

body {
    margin: 0;
}

header {
    width: 100%;
    height: 100px;

    background-color: blue;
    color: lightgray;
}

header button {
    display: none;
}


@media screen and (min-width: 524px) {
    header {
        background-color: yellow;
    }
}


@media screen and (min-width: 768px) {
    header {
        background-color: green;
    }
    header button {
        display: block;
    }
}


@media screen and (min-width: 1000px) {
    header {
        background-color: red;
    }
}