@import url(./typography.css);

@font-face {
  font-family: "AtypTextRegular";
  font-weight: 400;
  font-style: normal;
  src: local("Atyp Text Regular"), local("AtypText-Regular"),
    url(/barter-layout-project/fonts/AtypText-Regular.woff2) format("woff2"),
    url(/barter-layout-project/fonts/AtypText-Regular.woff) format("woff"),
    url(/barter-layout-project/fonts/AtypText-Regular.eot) format("eot");
  font-display: swap;
}

@font-face {
  font-family: "AtypTextMedium";
  font-weight: 500;
  font-style: normal;
  src: local("Atyp Text Medium"), local("AtypText-Medium"),
    url(/barter-layout-project/fonts/AtypText-Medium.woff2) format("woff2"),
    url(/barter-layout-project/fonts/AtypText-Medium.woff) format("woff"),
    url(/barter-layout-project/fonts/AtypText-Medium.eot) format("eot");
  font-display: swap;
}

@font-face {
  font-family: "AtypTextBold";
  font-weight: 700;
  font-style: normal;
  src: local("Atyp Text Bold"), local("AtypText-Bold"),
    url(/barter-layout-project/fonts/AtypText-Bold.woff2) format("woff2"),
    url(/barter-layout-project/fonts/AtypText-Bold.woff) format("woff"),
    url(/barter-layout-project/fonts/AtypText-Bold.eot) format("eot");

  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #272727;
}

body {
  background-color: #E5E5E5;
}

header {
  font-family: "AtypTextRegular", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px 0;
}

.header__img {
  height: 24px;
}

.header__nav {
  display: flex;
  gap: 1.2rem;
}

.header__btn {
  display: none;
}

@media screen and (min-width: 360px) {
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1000px) {
}

@media screen and (min-width: 1200px) {

}